<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

 <insert id="create">
 insert into board (title, content) 
 values(#{title},#{content})
 </insert>

 <select id="read" resultType="org.zerock.domain.BoardVO">
 select 
   *
 from 
   board
 where id = #{id}
 </select>
 
 <update id="updateview">
 update board set view = view+1
 where id = #{id}
 </update>

 <update id="update">
 update board set title =#{title}, content =#{content} 
 where id = #{id}
 </update>

 <delete id="delete">
 delete from board where id = #{id}
 </delete>

 <select id="listAll" resultType="org.zerock.domain.BoardVO">
 <![CDATA[
 select 
   id,title,date,view
 from 
   board
 where id > 0 
 order by id desc, date desc
 ]]>  
 </select>
 <!-- BoardVO 라고 align 함. mybatis-config.xml -->
 <select id="listPage" resultType="BoardVO">
 <![CDATA[
 select 
   *
 from 
   board 
 where id > 0 
 order by id desc, date desc
 limit #{page}, 10
 ]]>  
 </select>

  <select id="listCriteria" resultType="BoardVO">
 <![CDATA[
 select 
   *
 from 
   board 
 where id > 0 
 order by id desc, date desc
 limit #{pageStart}, #{perPageNum}
 ]]>  
 </select>



 <select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(id) 
 from 
   board 
 where 
   id > 0 
 ]]>
 </select>



<sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and title like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'c'.toString()">
     and content like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and writer like CONCAT('%', #{keyword}, '%')
   </if>     
   <if test="searchType == 'tc'.toString()">
     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'cw'.toString()">
     and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'tcw'.toString()">
     and (   title like CONCAT('%', #{keyword}, '%') 
           OR 
             content like CONCAT('%', #{keyword}, '%') 
           OR 
             writer like CONCAT('%', #{keyword}, '%'))
   </if>              
 </if>  
</sql>
 
<select id="listSearch" resultType="BoardVO">
<![CDATA[  
  select * 
  from board 
  where id > 0 
]]>  

  <include refid="search"></include>
  
<![CDATA[    
  order by id desc
  limit #{pageStart}, #{perPageNum}
]]>  
</select>
  
<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(id) 
  from board 
  where id > 0 
]]>
  <include refid="search"></include>
 
</select>  
  
</mapper>